body{color:black}
.comentarios{
    margin-top: 30px;
    width:250px;
    height: 100px;
}
.boton{
   
    align-items: center;
   text-align: center;
   width: 20%;
   background-color: rgb(165, 42, 99);
}
img{
display: flex;
margin-left: 700px;
width:450px;
margin-top: -370px;
margin-bottom: 10px;

}
