<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/clima.css"/>
    <title></title>
</head>
<body>
<div class="contenidos">
    <h3>TIEMPO ACTUAL</h3>
    <p> FECHA: <span class="fecha"></span><br></p>
    <p> TEMPERATURA ACTUAL: <span class="temperatura"></span><br></p>
    <p>VARIACIÓN: <span class="temp_max"></span><span class="temp_min"></span><br></p>
    <p> ESTADO DEL CIELO: <span class="estado"></span><br></p>
    <p> POSIB. DE LLUVIAS: <span class="lluvia"></span></p>
</div>
   
    

<script src="/clima.js"></script>  
</body>
</html>    
