
<link rel="stylesheet" href="/bares.css"/>

<div class="contenido">
    <div class="estab">  
    <div class="bar">LA PARRALA</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/La+Parrala/@37.3824545,-6.0019085,15z/data=!4m5!3m4!1s0x0:0xd99fca132859003!8m2!3d37.3824545!4d-6.0019085">Ubicación</a></li>
        <li><a href="https://www.thefork.es/restaurante/la-parrala-r731694#booking">Reserva una mesa</a></li>
        <li><a href="https://www.aeat/wlpl/RHCS-JDIT/HorarioOVP" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">LAS GOLONDRINAS 2</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Las+Golondrinas+-+Pag%C3%A9s+del+Corro/@37.3840763,-6.0055876,15z/data=!4m5!3m4!1s0x0:0x9532523f76e64bd0!8m2!3d37.3840811!4d-6.0055642">Ubicación</a></li>
        <li><a href="">Reserva una mesa</a></li>
        <li><a href="https://www.aeat/wlpl/RHCS-JDIT/HorarioOVP" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">EL ALBOROQUE</div>
    <ul>
        <li><a href="https://github.com/sigleto/paginaweb.git">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/nqeAimyFvos?source=pa&hl=es-ES&gei=epXqY8raCoSCkdUPoI6N2A8&sourceurl=http://www.google.es/service/MapsPlaceService/GetPlace?authuser%3D0%26gl%3Des%26hl%3Des%26q%3DAlboroque%2B,Tapas,%2BBar%2BRestaurantes">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.co/ShowUserReviews-g187443-d1002508-r785585866-Restaurante_Alboroque-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">LA BLANCA PALOMA</div>
    <ul>
        <li><a href="https://www.google.es/search?q=la%20blanca%20paloma%20sevilla&sxsrf=AJOqlzXoYPu8QbqaYQK6UoDBOAmcfpQBAg:1676318210985&source=hp&ei=_JXqY4KCNbSZkdUP3KaIwAM&iflsig=AK50M_UAAAAAY-qkDJ57JuRNCAjOE2PFLsldTG7jDtuD&oq=la+bla&gs_lcp=Cgdnd3Mtd2l6EAEYADIECCMQJzIECCMQJzIKCC4QsQMQgwEQQzIKCC4QrwEQxwEQQzIECAAQQzILCC4QgAQQxwEQrwEyCwguEIAEEMcBEK8BMgUIABCABDILCC4QgAQQxwEQrwEyBQgAEIAEOgoILhDHARCvARBDOgoILhCDARCxAxBDOg4ILhCABBCxAxDHARDRAzoRCC4QgAQQsQMQgwEQxwEQ0QM6CgguEMcBEK8BECc6CwgAEIAEELEDEIMBOgcILhDUAhBDOggIABCxAxCDAToOCC4QgAQQyQMQxwEQrwFQAFiqCmCXIGgAcAB4AIABpgGIAakGkgEDMC42mAEAoAEB&sclient=gws-wiz&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=9096604268979346244&lqi=ChhsYSBibGFuY2EgcGFsb21hIHNldmlsbGFI77jO4-eAgIAIWjAQABABEAIYARgCGAMiGGxhIGJsYW5jYSBwYWxvbWEgc2V2aWxsYSoICAIQABABEAKSAQ1iYXJfYW5kX2dyaWxs&ved=2ahUKEwi_5vv7o5P9AhWk_7sIHZ35DbEQvS56BAgQEAE&sa=X&rlst=f#rlfi=hd:;si:9096604268979346244,l,ChhsYSBibGFuY2EgcGFsb21hIHNldmlsbGFI77jO4-eAgIAIWjAQABABEAIYARgCGAMiGGxhIGJsYW5jYSBwYWxvbWEgc2V2aWxsYSoICAIQABABEAKSAQ1iYXJfYW5kX2dyaWxs;mv:[[37.425395699999996,-5.9045476],[37.3807165,-6.011552399999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2">Ubicación</a></li>
        <li><a href="">Reservar una mesa:Teléfono: 954 33 36 40</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d2360731-Reviews-Blanca_Paloma-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">CASA DIEGO</div>
    <ul>
        <li><a href="https://www.google.es/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=AJOqlzUr3rqUSowG0FfdC61wDVHzEVCIAA:1676318579953&q=casa+diego+sevilla&rflfq=1&num=10&rldimm=15263293002110069838&ved=2ahUKEwih5_OrpZP9AhWRHOwKHbLhAe4Qu9QIegQIDxAK#rlfi=hd:;si:15263293002110069838;mv:[[37.4061756,-5.9723272000000005],[37.3794257,-6.007726099999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!2m1!1e2!2m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:9">Ubicación</a></li>
        <li><a href="">No se reserva</a></li>
        <li><a href="https://www.tripadvisor.co/Restaurant_Review-g187443-d6778587-Reviews-or50-Casa_Diego-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">CASA RUPERTO</div>
    <ul>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d4040632-Reviews-Bar_Casa_Ruperto-Seville_Province_of_Seville_Andalucia.html">Ubicación</a></li>
        <li><a href="">No se reserva</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d4040632-Reviews-Bar_Casa_Ruperto-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">POR LA BOCA MUERE EL PEZ</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+Por+la+boca+muere+el+pez+tapas/@37.3766714,-6.005816,15z/data=!4m2!3m1!1s0x0:0xbb965783ee86fad6?sa=X&ved=2ahUKEwiLlI6pppP9AhXQSKQEHbfFB5YQ_BJ6BQiHARAI">Ubicación</a></li>
        <li><a href="">Reserva una mesa:Teléfono: 625 81 99 34</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d23375731-Reviews-Por_La_Boca_Muere_El_Pez_Tapas-Seville_Province_of_Seville_Andalucia.html">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    
    
    </div>