
<link rel="stylesheet" href="/bares.css"/>


<div class="contenido">
    <div class="estab">  
    <div class="bar">VICTORIA 8</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+Victoria+8/@37.3830354,-6.0025717,15z/data=!4m5!3m4!1s0x0:0x8f72e73773904258!8m2!3d37.3830832!4d-6.0027072">Ubicación</a></li>
        <li><a href="https://module.thefork.com/es_ES/module/21282-fa7d6/9390-6aa?tracking_id=a93bf61a-ad12-4368-aa70-2740bd12da88">Reserva mesa para hoy</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d2261643-Reviews-Victoria_8-Seville_Province_of_Seville_Andalucia.html" target="_blank">Valoración de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">CASA MONTALVAN</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Alfarer%C3%ADa+21+-+Casa+Montalv%C3%A1n/@37.385251,-6.0060092,18z/data=!4m5!3m4!1s0xd126dcc91390a41:0x822a8a2a0246d830!8m2!3d37.3847906!4d-6.0049599?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/PHrtRS7Jolk?source=pa&hl=es-ES&gei=HJ7mY-SkHsGNxc8Pov6h-AQ&sourceurl=https://www.google.es/maps/preview/place?hl%3Des%26gl%3Des%26authuser%3D0%26pb%3D!1m17!1s0xd126dcc91390a41:0x822a8a2a0246d830!3m12!1m3!1d1467.4529468047692!2d-6.0060091668163!3d37.38525103667932!2m3!1f0!2f0!3f0!3m2!1i1536!2i711!4f13.1!4m2!3d37.38479049182118!4d-6.004960052669047!12m4!2m3!1i360!2i120!4i8!13m57!2m2!1i203!2i100!3m2!2i4!5b1!6m6!1m2!1i86!2i86!1m2!1i408!2i240!7m42!1m3!1e1!2b0!3e3!1m3!1e2!2b1!3e2!1m3!1e2!2b0!3e3!1m3!1e8!2b0!3e3!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e9!2b1!3e2!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e10!2b0!3e4!2b1!4b1!9b0!14m5!1s5J3mY6O4MOG-xc8PxIi9mAE!4m1!2i5210!7e81!12e3!15m77!1m26!4e2!13m9!2b1!3b1!4b1!6i1!8b1!9b1!14b1!20b1!25b1!18m14!3b1!4b1!5b1!6b1!9b1!12b1!13b1!14b1!15b1!17b1!20b1!21b1!22b0!25b0!2b1!5m5!2b1!3b1!5b1!6b1!7b1!10m1!8e3!11m1!3e1!14m1!3b1!17b1!20m2!1e3!1e6!24b1!25b1!26b1!29b1!30m1!2b1!36b1!39m3!2m2!2i1!3i1!43b1!52b1!54m1!1b1!55b1!56m2!1b1!3b1!65m5!3m4!1m3!1m2!1i224!2i298!71b1!72m4!1m2!3b1!5b1!4b1!89b1!113b1!21m28!1m6!1m2!1i0!2i0!2m2!1i458!2i711!1m6!1m2!1i1486!2i0!2m2!1i1536!2i711!1m6!1m2!1i0!2i0!2m2!1i1536!2i20!1m6!1m2!1i0!2i691!2m2!1i1536!2i711!22m2!1e81!8e1!29m0!30m1!3b1!34m2!7b1!10b1!37i633!39sAlfarer%25C3%25ADa%2B21%2B-%2B%2BCasa%2BMontalv%25C3%25A1n%26q%3DAlfarer%25C3%25ADa%2B21%2B-%2B%2BCasa%2BMontalv%25C3%25A1n">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d14953628-Reviews-Alfareria_21-Seville_Province_of_Seville_Andalucia.html" target="_blank">Valoración de Tripadvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">MARIA TRIFULCA</div>
    <ul>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d14953628-Reviews-Alfareria_21-Seville_Province_of_Seville_Andalucia.html">Ubicación</a></li>
        <li><a href="https://mariatrifulca.com/#reservas">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d11549017-Reviews-Mariatrifulca-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">LA PRIMERA DEL PUENTE</div>
    <ul>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d11549017-Reviews-Mariatrifulca-Seville_Province_of_Seville_Andalucia.html">Ubicación</a></li>
        <li><a href="">Reservas: Tfno 954276918</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d23498957-Reviews-La_Primera_del_Puente-Seville_Province_of_Seville_Andalucia.html" target="_blank">Valoración de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">RESTAURANTE EL SELLA</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+El+Sella+Triana+(Sevilla)/@37.384839,-6.0055886,567m/data=!3m1!1e3!4m5!3m4!1s0xd126d623bfa8ddb:0x828b4d5913d3f96f!8m2!3d37.3848113!4d-6.0027415?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/fvXJGcIziuQ?source=pa&hl=es-ES&gei=M6HmY7KLA6S9xc8Py4qdUA&sourceurl=https://www.google.es/maps/preview/place?hl%3Des%26gl%3Des%26authuser%3D0%26pb%3D!1m17!1s0xd126d623bfa8ddb:0x828b4d5913d3f96f!3m12!1m3!1d2467.9654082183715!2d-6.005588642698716!3d37.384838966874796!2m3!1f0!2f0!3f0!3m2!1i1536!2i711!4f13.1!4m2!3d37.38481127119807!4d-6.0027415305375955!12m4!2m3!1i360!2i120!4i8!13m57!2m2!1i203!2i100!3m2!2i4!5b1!6m6!1m2!1i86!2i86!1m2!1i408!2i240!7m42!1m3!1e1!2b0!3e3!1m3!1e2!2b1!3e2!1m3!1e2!2b0!3e3!1m3!1e8!2b0!3e3!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e9!2b1!3e2!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e10!2b0!3e4!2b1!4b1!9b0!14m5!1sGqHmY4fWBc27xc8PlduL6AE!4m1!2i5210!7e81!12e3!15m77!1m26!4e2!13m9!2b1!3b1!4b1!6i1!8b1!9b1!14b1!20b1!25b1!18m14!3b1!4b1!5b1!6b1!9b1!12b1!13b1!14b1!15b1!17b1!20b1!21b1!22b0!25b0!2b1!5m5!2b1!3b1!5b1!6b1!7b1!10m1!8e3!11m1!3e1!14m1!3b1!17b1!20m2!1e3!1e6!24b1!25b1!26b1!29b1!30m1!2b1!36b1!39m3!2m2!2i1!3i1!43b1!52b1!54m1!1b1!55b1!56m2!1b1!3b1!65m5!3m4!1m3!1m2!1i224!2i298!71b1!72m4!1m2!3b1!5b1!4b1!89b1!113b1!21m28!1m6!1m2!1i0!2i0!2m2!1i458!2i711!1m6!1m2!1i1486!2i0!2m2!1i1536!2i711!1m6!1m2!1i0!2i0!2m2!1i1536!2i20!1m6!1m2!1i0!2i691!2m2!1i1536!2i711!22m2!1e81!8e1!29m0!30m1!3b1!34m2!7b1!10b1!37i633!39sRestaurante%2BEl%2BSella%2BTriana%2B(Sevilla)%26q%3DRestaurante%2BEl%2BSella%2BTriana%2B(Sevilla)">Reservar una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d15534171-Reviews-Restaurante_tapas_El_Sella-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">EL PANZÓN</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Bar+restaurante+El+Panzon/@37.3808831,-6.0149063,15z/data=!4m9!1m2!2m1!1srestaurantes!3m5!1s0xd126d39f18fe35d:0xccd78392e8a9c9ee!8m2!3d37.3754072!4d-6.0048813!15sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgENYmFyX2FuZF9ncmlsbOABAA?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.elpanzon.es/reserva/">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d17593568-Reviews-Restaurante_El_Panzon-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="estab">  
    <div class="bar">RINCONCETE Y CORTADILLO</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+RICO+Rinconete+y+Cortadillo/@37.3835762,-6.0051456,401m/data=!3m1!1e3!4m9!1m2!2m1!1srestaurantes!3m5!1s0xd126d7a8b45d8b3:0xe654e565a7099026!8m2!3d37.3839673!4d-6.0045634!15sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgEKcmVzdGF1cmFudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VNMk5qUm1kRzlCUlJBQuABAA?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/CZe4AvmGg4k?source=pa&hl=es-ES&gei=HzjnY5S8JP2tkdUPjbuD4AY&sourceurl=https://www.google.es/search?q%3Drinconete%2By%2Bcortadillo%2Bsevilla%26sxsrf%3DAJOqlzX24YKR_zCT1MROAUT0i6ki-KL_xw:1676097559321%26source%3Dhp%26ei%3DFzjnY4LgEK6AhbIP0IeE0AU%26iflsig%3DAK50M_UAAAAAY-dGJwZczUdMBTekwaFDbLzag7vCEO8c%26gs_ssp%3DeJzj4tVP1zc0zDM0N7VIysowYLRSMahIMTQySzFPtEgyMU2xSDK2MqhINTM1STU1M000N7C0NDAy85IrysxLzs9LLUlVqFRIzi8qSUzJzMnJVyhOLQPSiQD6whn8%26oq%3Drinconce%26gs_lcp%3DCgdnd3Mtd2l6EAEYATINCC4QgAQQsQMQgwEQCjINCC4QgAQQxwEQrwEQCjIKCAAQgAQQsQMQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjoECC4QJzoECCMQJzoECAAQQzoLCC4QgAQQsQMQgwE6FAguEIAEELEDEIMBEMcBENEDENQCOhEILhCABBCxAxCDARDHARDRAzoKCC4QxwEQ0QMQQzoICC4QgAQQsQM6CAgAEIAEELEDOgcIABCxAxBDOgoIABCxAxCDARBDOgsILhCDARCxAxCABDoLCC4QrwEQxwEQgAQ6BQgAEIAEOgsILhCABBDHARCvAVAAWOcXYJgvaABwAHgAgAG2AYgBjQiSAQMwLjiYAQCgAQE%26sclient%3Dgws-wiz">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d23482813-Reviews-Rico_rinconete_Y_Cortadillo-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="bar">LA VALIENTE</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+La+Valiente/@37.3846631,-6.0068482,674m/data=!3m1!1e3!4m9!1m2!2m1!1srestaurantes!3m5!1s0xd126d5178eef11d:0x971ff821e0cb903f!8m2!3d37.3847009!4d-6.0041434!15sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgEKcmVzdGF1cmFudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VObE5EVkRiVFJSUlJBQuABAA?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/dSbAWAvxsZs?source=pa&hl=es-ES&gei=4jjnY9qzH76Pxc8P-OqwqAM&sourceurl=https://www.google.es/maps/preview/place?hl%3Des%26gl%3Des%26authuser%3D0%26pb%3D!1m17!1s0xd126d5178eef11d:0x971ff821e0cb903f!3m12!1m3!1d2934.92890557868!2d-6.006848153073932!3d37.38466313245767!2m3!1f0!2f0!3f0!3m2!1i1536!2i711!4f13.1!4m2!3d37.38470098059333!4d-6.004143655300143!6srestaurantes!12m4!2m3!1i360!2i120!4i8!13m57!2m2!1i203!2i100!3m2!2i4!5b1!6m6!1m2!1i86!2i86!1m2!1i408!2i240!7m42!1m3!1e1!2b0!3e3!1m3!1e2!2b1!3e2!1m3!1e2!2b0!3e3!1m3!1e8!2b0!3e3!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e9!2b1!3e2!1m3!1e10!2b0!3e3!1m3!1e10!2b1!3e2!1m3!1e10!2b0!3e4!2b1!4b1!9b0!14m5!1sozjnY5CuN9LVgQaw9oqwDg!4m1!2i5357!7e81!12e3!15m77!1m26!4e2!13m9!2b1!3b1!4b1!6i1!8b1!9b1!14b1!20b1!25b1!18m14!3b1!4b1!5b1!6b1!9b1!12b1!13b1!14b1!15b1!17b1!20b1!21b1!22b0!25b0!2b1!5m5!2b1!3b1!5b1!6b1!7b1!10m1!8e3!11m1!3e1!14m1!3b1!17b1!20m2!1e3!1e6!24b1!25b1!26b1!29b1!30m1!2b1!36b1!39m3!2m2!2i1!3i1!43b1!52b1!54m1!1b1!55b1!56m2!1b1!3b1!65m5!3m4!1m3!1m2!1i224!2i298!71b1!72m4!1m2!3b1!5b1!4b1!89b1!113b1!21m28!1m6!1m2!1i0!2i0!2m2!1i886!2i711!1m6!1m2!1i1486!2i0!2m2!1i1536!2i711!1m6!1m2!1i0!2i0!2m2!1i1536!2i20!1m6!1m2!1i0!2i691!2m2!1i1536!2i711!22m2!1e81!8e4!29m0!30m1!3b1!32b0!34m2!7b1!10b1!37i633!38sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgEKcmVzdGF1cmFudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VObE5EVkRiVFJSUlJBQuABAA!39sRestaurante%2BLa%2BValiente!41b0%26q%3DRestaurante%2BLa%2BValiente">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.co/ShowUserReviews-g659305-d11907947-r826671769-La_Ferroviaria-Dos_Hermanas_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="bar">RINCONCETE Y CORTADILLO</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+RICO+Rinconete+y+Cortadillo/@37.3835762,-6.0051456,401m/data=!3m1!1e3!4m9!1m2!2m1!1srestaurantes!3m5!1s0xd126d7a8b45d8b3:0xe654e565a7099026!8m2!3d37.3839673!4d-6.0045634!15sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgEKcmVzdGF1cmFudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VNMk5qUm1kRzlCUlJBQuABAA?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/CZe4AvmGg4k?source=pa&hl=es-ES&gei=HzjnY5S8JP2tkdUPjbuD4AY&sourceurl=https://www.google.es/search?q%3Drinconete%2By%2Bcortadillo%2Bsevilla%26sxsrf%3DAJOqlzX24YKR_zCT1MROAUT0i6ki-KL_xw:1676097559321%26source%3Dhp%26ei%3DFzjnY4LgEK6AhbIP0IeE0AU%26iflsig%3DAK50M_UAAAAAY-dGJwZczUdMBTekwaFDbLzag7vCEO8c%26gs_ssp%3DeJzj4tVP1zc0zDM0N7VIysowYLRSMahIMTQySzFPtEgyMU2xSDK2MqhINTM1STU1M000N7C0NDAy85IrysxLzs9LLUlVqFRIzi8qSUzJzMnJVyhOLQPSiQD6whn8%26oq%3Drinconce%26gs_lcp%3DCgdnd3Mtd2l6EAEYATINCC4QgAQQsQMQgwEQCjINCC4QgAQQxwEQrwEQCjIKCAAQgAQQsQMQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjoECC4QJzoECCMQJzoECAAQQzoLCC4QgAQQsQMQgwE6FAguEIAEELEDEIMBEMcBENEDENQCOhEILhCABBCxAxCDARDHARDRAzoKCC4QxwEQ0QMQQzoICC4QgAQQsQM6CAgAEIAEELEDOgcIABCxAxBDOgoIABCxAxCDARBDOgsILhCDARCxAxCABDoLCC4QrwEQxwEQgAQ6BQgAEIAEOgsILhCABBDHARCvAVAAWOcXYJgvaABwAHgAgAG2AYgBjQiSAQMwLjiYAQCgAQE%26sclient%3Dgws-wiz">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d23482813-Reviews-Rico_rinconete_Y_Cortadillo-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    <div class="bar">RINCONCETE Y CORTADILLO</div>
    <ul>
        <li><a href="https://www.google.es/maps/place/Restaurante+RICO+Rinconete+y+Cortadillo/@37.3835762,-6.0051456,401m/data=!3m1!1e3!4m9!1m2!2m1!1srestaurantes!3m5!1s0xd126d7a8b45d8b3:0xe654e565a7099026!8m2!3d37.3839673!4d-6.0045634!15sCgxyZXN0YXVyYW50ZXNaDiIMcmVzdGF1cmFudGVzkgEKcmVzdGF1cmFudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VNMk5qUm1kRzlCUlJBQuABAA?hl=es&authuser=0">Ubicación</a></li>
        <li><a href="https://www.google.com/maps/reserve/v/dine/c/CZe4AvmGg4k?source=pa&hl=es-ES&gei=HzjnY5S8JP2tkdUPjbuD4AY&sourceurl=https://www.google.es/search?q%3Drinconete%2By%2Bcortadillo%2Bsevilla%26sxsrf%3DAJOqlzX24YKR_zCT1MROAUT0i6ki-KL_xw:1676097559321%26source%3Dhp%26ei%3DFzjnY4LgEK6AhbIP0IeE0AU%26iflsig%3DAK50M_UAAAAAY-dGJwZczUdMBTekwaFDbLzag7vCEO8c%26gs_ssp%3DeJzj4tVP1zc0zDM0N7VIysowYLRSMahIMTQySzFPtEgyMU2xSDK2MqhINTM1STU1M000N7C0NDAy85IrysxLzs9LLUlVqFRIzi8qSUzJzMnJVyhOLQPSiQD6whn8%26oq%3Drinconce%26gs_lcp%3DCgdnd3Mtd2l6EAEYATINCC4QgAQQsQMQgwEQCjINCC4QgAQQxwEQrwEQCjIKCAAQgAQQsQMQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjIHCAAQgAQQCjoECC4QJzoECCMQJzoECAAQQzoLCC4QgAQQsQMQgwE6FAguEIAEELEDEIMBEMcBENEDENQCOhEILhCABBCxAxCDARDHARDRAzoKCC4QxwEQ0QMQQzoICC4QgAQQsQM6CAgAEIAEELEDOgcIABCxAxBDOgoIABCxAxCDARBDOgsILhCDARCxAxCABDoLCC4QrwEQxwEQgAQ6BQgAEIAEOgsILhCABBDHARCvAVAAWOcXYJgvaABwAHgAgAG2AYgBjQiSAQMwLjiYAQCgAQE%26sclient%3Dgws-wiz">Reserva una mesa</a></li>
        <li><a href="https://www.tripadvisor.es/Restaurant_Review-g187443-d23482813-Reviews-Rico_rinconete_Y_Cortadillo-Seville_Province_of_Seville_Andalucia.html" target="_blank">Estrellas de TripAdvisor</a></li>
    </ul>
    </div>
    
    
    </div>