<html>
<head>
<title>Convertir excel</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/reloj.css"/>
</head>
<body>
<div class="uno">
<input class="contenido" placeholder="RELOJ DIGITAL">

</div>
<script src="reloj.js"></script>
</body>


</html>